@using UserOperation.Services.Dtos
@using UserOperation.Data.Entities
@model StabilityViewModel  


<form method="post" asp-action="Edit">
    <div class="border p-3 mt-4">
        <div class="row pb-2"> 
            <h2 class="text-primary">Edit Stability

            </h2>
        </div>
       
        <div class ="mb-3">
            <label asp-for="Employee.EmployeeId"></label>
            <input asp-for="Employee.EmployeeId" class="form-control"/>
            <span asp-validation-for="Employee.EmployeeId" class="text-danger"></span>
        </div>
        <div class ="mb-3">
            <label asp-for="Employee.EmployeeName"></label>
            <input asp-for="Employee.EmployeeName" class="form-control"/>
            <span asp-validation-for="Employee.EmployeeName" class="text-danger"></span>
        </div>

        <div class ="mb-3">
            
            <label asp-for="Employee.ProjectsIds"></label>
           <select asp-for="Employee.ProjectsIds" class="form-control project-select" multiple-select asp-items="ViewBag.ProjectListDB" multiple="multiple">
            </select>
        <span asp-validation-for="Employee.ProjectsIds" class="text-danger"></span>
        </div>
       
        <div class ="mb-3">
            <label asp-for="Employee.Position.PositionName"></label>
            @Html.DropDownListFor(model=>model.Employee.Position.PositionId,new SelectList(ViewBag.PositionListDB,"PositionId", "PositionName"))
           
            <span asp-validation-for="Employee.Position.PositionName" class="text-danger"></span>
        </div>
        
        <div class ="mb-3">
            <label asp-for="Employee.Level.LevelName"></label>
             @Html.DropDownListFor(model=>model.Employee.Level.LevelId,new SelectList(ViewBag.LevelListDB,"LevelId", "LevelName"))
            
            <span asp-validation-for="Employee.Level.LevelName" class="text-danger"></span>
        </div>
        <div class ="mb-3">
            <label asp-for="StabilityMonth"></label>
            @Html.DropDownListFor(model=>model.StabilityMonth,new SelectList(ViewBag.Months,"Months"))           
            <span asp-validation-for="StabilityMonth" class="text-danger"></span>
        </div>
        <div class ="mb-3">
            <label asp-for="LeavingYear"></label>
            <input asp-for="LeavingYear" class="form-control"  id="datepicker" />          
            <span asp-validation-for="LeavingYear" class="text-danger"></span>
        </div>
        <div class ="mb-3">
            <label asp-for="StabilityLevel.StabilityLevelName"></label>
            @Html.DropDownListFor(model=>model.StabilityLevel.StabilityLevelID,new SelectList(ViewBag.StabilityLevelListDB,"StabilityLevelID", "StabilityLevelName"))           
            <span asp-validation-for="StabilityLevel.StabilityLevelName" class="text-danger"></span>
        </div>
        <div class ="mb-3">
            <label asp-for="Criticality.CriticalityName"></label>
             @Html.DropDownListFor(model=>model.Criticality.CriticalityID,new SelectList(ViewBag.CriticalityListDB,"CriticalityID", "CriticalityName"))          
            <span asp-validation-for="Criticality.CriticalityName" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary " style="width:150px">Update</button> 
        <a asp-controller="Stability" asp-action="Index" class="btn btn-secondary " style ="width:150px">Back to List</a>
        @Html.HiddenFor(x=>x.StabilityId)
    </div>
</form>
@section Scripts{
@{
    <partial name="_ValidationScriptsPartial" />
}
}